[Unit]
Description=Factorio Server
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/local/bin/docker-compose -f /opt/factorio/docker-compose.yml up
ExecStop=/usr/local/bin/docker-compose -f /opt/factorio/docker-compose.yml stop

[Install]
WantedBy=multi-user.target
